<p>
  <strong>标题：</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>正文：</strong>
  <%= @article.content %>
</p>
 
<%= link_to '编辑', edit_article_path(@article) %> |
<%= link_to '返回', articles_path %>
