<div class = "nav nav-tabs">
</div>
<div class = "container">
<%=render "layouts/header"%>


<div class="jumbotron">
 <h1>Goodbye ruby on rails's world</h1>
  
  <p>you are in the end of the world
  </p>
  <p><%= link_to "go back",:back,class:"btn btn-default btn-lg" %></p>
</div>