<ul class="nav nav-tabs" style="margin-bottom:50px;">
  <li role="presentation" class="active"><%= link_to "首页", action: "hello" , controller: "firstcontact" %></li>
  <li role="presentation"><%=link_to "所有文章", articles_url %></li>
  <li role="presentation"><%= link_to "尾页",action:"goodbye", controller:"firstcontact"%></li>
</ul>